<style type="text/css">
  body {
    text-align: center;
  }
</style> 
<body>
 <div class="home">
  <h1> App Tutorial Home Page</h1>
  <h3> The Home Page for the App Tutorial</h3>
  <img src="http://25.media.tumblr.com/tumblr_mbduvkuspZ1qe6vsbo1_400.jpg">
</div> 
</body>